<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response</title>
</head>
<style>
    .result {
        text-align: left;
        width: 280px;
    }

    .btn {
        background-color: rgb(133, 133, 133);
        border: none;
        color: white;
        padding: 7px 20px;
        margin: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        position: relative;
        top: 10px;
        left: 200px;

    }
</style>

<body>
    <fieldset class="result">
        <form action="/person/login" method="get">
            <div class="form">
                <p style="margin:5px;">Name : <%= data.name %></p>
                <p style="margin:5px;">Age : <%= data.age %></p>
                <p style="margin:5px;">Movie : <%= data.movie %></p>
                <p style="margin:5px;">Email : <%= data.email %></p>
            </div>
            <button type="submit" class="btn">LOGIN</button>
        </form>
    </fieldset>
</body>

</html>