<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
</head>

<body>
    <% data.forEach(function(item) { %>
        <div>
            <%= item.name %> live in
                <%= item.city %>
        </div>
        <% }) %>
</body>

</html>